<style>
    .google-ad-wrapper {
        position: relative;
        width: 960px;
        margin: auto;
        text-align: center;
    }
    .adsbygoogle{
        position: absolute;
        width: 960px;
        top: 64px;
    }
    @media all and (max-width:480px){
        .google-ad-wrapper {
            width: 100%;
        }
        .adsbygoogle{
            width: 100%;
            top: 48px;
        }
    }
</style>
<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<div class="google-ad-wrapper">
    <ins class="adsbygoogle"
         style="display:block"
         data-ad-client="ca-pub-1151633825359615"
         data-ad-slot="4784558486"
         data-ad-format="auto"></ins>
</div>
<script>
    (adsbygoogle = window.adsbygoogle || []).push({});
</script>
