<html>
<head>
{% include "common/meta.html" %}
<link rel='stylesheet' type='text/css' media='screen' href='/resources/css/common.css?version=1.0' />
<!--[if lte IE 7]>
<link rel='stylesheet' type='text/css' media='screen' href='/resources/css/common_lowie.css'/>
<![endif]-->
</head>
<body>
{% include "common/header.html" %}
<div id='content'>
</div>
<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<!-- support -->
<ins class="adsbygoogle"
     style="display:block"
     data-ad-client="ca-pub-1151633825359615"
     data-ad-slot="8527087283"
     data-ad-format="auto"></ins>
<script>
    (adsbygoogle = window.adsbygoogle || []).push({});
</script>
{% include "common/footer.html" %}
<script>
var serverData = {
	page: '{{page}}',
	msg: '{{msg}}'
};
</script>
</body>
</html>