<html>
{% load customtags %}
<head>
{% include "common/meta.html" %}
<link rel='stylesheet' type='text/css' media='screen' href='/resources/css/common.css?version=1.0' />
<!--[if lte IE 7]>
<link rel='stylesheet' type='text/css' media='screen' href='/resources/css/common_lowie.css'/>
<![endif]-->
<link rel='stylesheet' type='text/css' media='screen' href='/resources/service/css/component.css?version=1.0' />
<link rel='stylesheet' type='text/css' media='screen' href='/resources/service/css/page.css?version=1.4' />
<style>
.bright-pastel{
	background-color:#F5EEE6;
}
</style>
</head>
<body>
{% include "common/header.html" %}
<div id="content" class="content">
<div class="body-wrapper background-image-no-repeat entire-width padding-top" style="text-align: center; background-image: url('http://kordir-data.s3.amazonaws.com/service/background/1/bOKRBWRTSj_1920_1200.jpg'); background-size: cover; background-position: 50% 50%; background-repeat: no-repeat;" data-background-image="bOKRBWRTSj_1920_1200.jpg" data-background-image-mode="0">
<div class="body-content body-content-padding">&nbsp;<br><br><br><br><br><br><br><span style="font-family: 'arial black', 'avant garde';"><strong><span style="font-size: 28px;">about <br><span style="font-size: 32px;"><span class="" style="color: #555555;">KORDI</span><span style="color: #ffa500;">R</span></span></span></strong></span><br><br><br><br><br><br><br><br></div>
</div>
<div class="body-wrapper bright-pastel entire-width">
<div class="body-content body-content-padding">&nbsp;<br><br>KORDIR은 Korea + Directory 두 단어의 조합으로 만들어진 합성어 입니다. 로컬 비지니스 데이터를 기반으로 중,소규모 사업자와 소비자를 이어주는 플랫폼 서비스로 발전시키는 목표를 가지고 있습니다. <br><br> 현재 코디알이 제공하는 서비스는 홈페이지 제작, 관리 솔루션이지만 나아가고자 하는 방향은 고객에게 연결점을 제공하는 것 입니다. 비지니스에서 연결은 곧 매출로 직결 됩니다. 저희는 고객님의 바로 그 연결점을 제공하여 고객님의 매출 향상에 기여하고자 합니다. <br><br> 우선 저희는 다양한 연결의 매개체 중 인터넷 페이지로 시작하게 되었습니다. 비지니스를 위해 필요로 하지만 비싼 비용과 관리의 어려움으로 망설였던 분들에게 큰 도움을 줄 수 있도록 누구나 홈페이지를 쉽게 제작하고 관리할 수 있는 서비스를 준비하였습니다. <br><br> 코디알은 실질적인 가치를 제공하여 고객과 함께 동반성장할 수 있는 회사가 될 수 있도록 항상 노력하고 있습니다.<br><br><br></div>
</div>
<div class="body-wrapper">
<div class="body-content body-content-padding no-padding">
<div class="component-wrapper component-wrapper-contact dashed-border"><!--
			 -->
<div class="gap dashed-border component-contenteditable">&nbsp;</div>
<!--
			 -->
<div class="contact-info inline-block-fallback box-sizing-fallback"><!--
				 -->
<div class="contact-top dashed-border"><!--
					 -->
<div class="main-title dashed-border component-contenteditable">오시는 길</div>
<!--
					 -->
<div class="sub-text dashed-border component-contenteditable">&nbsp;</div>
<!--
				 --></div>
<!--
				 -->
<div class="contact-info-googlemap dashed-border"><!--
					 --><!--
				 -->
<table id="googlemap-wrapper-1" class="googlemap-wrapper" style="width: 400px; height: 280px; display: inline-block; padding: 0px; text-align: center; cursor: pointer;" contenteditable="false" data-width="400px" data-height="280px" data-center="{&quot;k&quot;:37.292666364404425,&quot;D&quot;:127.04334013938912}" data-zoom="16" data-marker="{&quot;k&quot;:37.29263653985146,&quot;D&quot;:127.04330205917358}">
<tbody contenteditable="false">
<tr class="box-item-tr" contenteditable="false">
<td class="box-item-td" style="position: relative; outline: #ccccbc dashed 1px;" contenteditable="false" width="400" height="280">
</td>
</tr>
</tbody>
</table>
</div>
<!--
				 -->
<div class="contact-info-text dashed-border component-contenteditable"><img class="contact-info-icon" src="/resources/images/location_icon.png" alt="">&nbsp; 경기도 수원시 영통구 이의동 869 중소기업청 창업지원센터 지하2층</div>
<!--
				 -->
<div class="contact-info-text dashed-border component-contenteditable"><img class="contact-info-icon" src="/resources/images/phone_icon.png" alt="">&nbsp;&nbsp;031-217-0107</div>
<!--
				 -->
<div class="contact-info-text dashed-border component-contenteditable"><img class="contact-info-icon" src="/resources/images/email_icon.png" alt="">&nbsp; hello@kordir.com</div>
<!--
				 -->
<div class="contact-info-text dashed-border component-contenteditable">&nbsp;&nbsp; 사업자등록번호: 135-32-70424<img class="" style="float: left;" src="/resources/images/document_icon.png" alt="" height="13" width="13"></div>
<!--
				 --></div>
<div class="contact-form inline-block-fallback box-sizing-fallback"><!--
				 -->
<div class="contact-top dashed-border"><!--
					 -->
<div class="main-title dashed-border component-contenteditable">문의 사항</div>
<!--
					 -->
<div class="sub-text dashed-border component-contenteditable">문의사항이 있으시면 내용을 기입해 주세요. 확인 즉시 연락드리겠습니다.</div>
<!--
				 --></div>
<!--
				 -->
<div class="contact-form-tag dashed-border component-contenteditable">이름</div>
<!--
				 --><input class="contact-name" type="text"><!--
				 -->
<div class="contact-form-tag dashed-border component-contenteditable">이메일 주소</div>
<!--
				 --><input class="contact-email" type="text"><!--
				 -->
<div class="contact-form-tag dashed-border component-contenteditable">제목</div>
<!--
				 --><input class="contact-title" type="text"><!--
				 -->
<div class="contact-form-tag dashed-border component-contenteditable">내용</div>
<!--
				 --><textarea class="contact-content" rows="10"></textarea><!--
				 --><button class="btn">작성</button><!--
			 --></div>
<!--
			 -->
<div class="gap dashed-border component-contenteditable">&nbsp;</div>
<!--
		 --></div>
</div>
</div>
</div>
{% include "common/footer.html" %}
<script>
var serverData = {
	page: '{{page}}',
	msg: '{{msg}}'
};
</script>
<script>
var variable = {
	slideIdx: 0,
	slideObject: [],
	pictureSlideObject: [],
	resizeFunc: [],
	fileSuffix: '{{"PAGE_PICTURE"|get_filelocation}}',
	serviceId: '1',
	mobileWidth: false
};
var serviceVariable = {
	resizeFunc: {},
	scrollFunc: {}
};
</script>
<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key={% settings_value "GOOGLE_API_KEY" %}"></script>
<script src='/resources/service/js/servicepage.js?version=1.3'></script>
</body>
</html>