{% load humanize %}
{% load tz %}
{% load customtags %}
<head>
    <style>
        .dashboard-body{display:none;}
    </style>
    <link rel='stylesheet' type='text/css' media='screen' href='/resources/css/dashboard_normalboard.css?version=1.1' />
</head>
<div class='dashboard-body'>
        <div class='board-content board-center'>
            <div class='table-header black-font'>
            </div>
            <div class='table-body'>
            </div>
        </div>
        <div class='board-content board-bottom'></div>
    </div>
</div>
<script>
    var boardVar = {
    };
</script>
