<html>
<head>
{% include "common/meta.html" %}
<link rel='stylesheet' type='text/css' media='screen' href='/resources/css/common.css?version=1.0' />
<link rel='stylesheet' type='text/css' media='screen' href='/resources/css/landing.css?version=1.9' />
<!--[if lte IE 7]>
<link rel='stylesheet' type='text/css' media='screen' href='/resources/css/common_lowie.css'/>
<style>
.white-box-block{
	color:#ffffff !important;
}
</style>
<![endif]-->
<!--[if lte IE 9]>
<style>
.not-support-low-ie{
	display:none;
}
</style>
<![endif]-->
<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<script>
    (adsbygoogle = window.adsbygoogle || []).push({
        google_ad_client: "ca-pub-1151633825359615",
        enable_page_level_ads: true
    });
</script>
</head>
<body>
{% include "common/header.html" %}
<div id='content'>
	<div class='content-wrapper wrapper box-sizing-fallback'>
		<div class='col-half col-half-image box-sizing-fallback inline-block-fallback'>
			<img src='https://kordir.s3.amazonaws.com/images/landing/landing_top.png'>
			<span class='youtube-play-button'></span>
		</div><!--
		  --><div class='col-half col-half-text box-sizing-fallback inline-block-fallback inline-block-fallback'>
		  	<h1>비지니스 웹 사이트 개설 <br>
		  		<span>KORDI</span><span class='orange-highlight'>R</span>
		  	</h1>
		  	<h3>영업에 특화된 기능의 웹 사이트를
		  	 제작 관리할 수 있는 서비스 입니다.</h3>
		</div>

	</div>
	<div class='entire-wrapper wrapper box-sizing-fallback grid-background bright-pastel' id='nav-service'>
		<h2 class='title-text'>
			<span style='color:#ffa500; font-weight:bold;'>|&nbsp;</span><span>기능 및 서비스</span>
		</h2>
		<div class='entire-inner-wrapper'>
			<div style='font-size:0px;'>
				<div class='image-text-deck image-text-deck-feature box-sizing-fallback inline-block-fallback'>
					<div class='image-container image-container-small'  id='feature-image-fifth'></div>
					<div class='image-text-deck-title'>홈페이지 빌더</div>
					<div class='image-text-deck-text'>
						직접 제작할 수 있는 빌더 솔루션<br>
						블로그, 카페를 만드는 것처럼 누구나 제작, 수정 가능
					</div>
				</div><!--
				<div class='image-text-deck image-text-deck-feature box-sizing-fallback inline-block-fallback'>
					<div class='image-container image-container-small' id='feature-image-seventh'></div>
					<div class='image-text-deck-title'>무료 제작 지원</div>
					<div class='image-text-deck-text'>
						무료로 사이트 제작 대행<br>
						외주제작비용을 <b style='font-size:18px;'>0원</b>으로 절약<br>
					</div>
				</div>--><!--
				--><div class='image-text-deck image-text-deck-feature box-sizing-fallback inline-block-fallback'>
					<div class='image-container image-container-small' id='feature-image-first'></div>
					<div class='image-text-deck-title'>모바일 환경 지원</div>
					<div class='image-text-deck-text'>
					 모바일 화면과 PC용 화면에 적합한 형태로 페이지가 자동 맞춤<br>
					 모바일 트래픽이 데스크탑을 상회하는 시대에 모바일 환경 지원은 필수
					</div>
				</div><!--
				--><div class='image-text-deck image-text-deck-feature box-sizing-fallback inline-block-fallback'>
					<div class='image-container image-container-small' id='feature-image-second'></div>
					<div class='image-text-deck-title'>SMS 피드백</div>
					<div class='image-text-deck-text'>
						문의 게시판 글 등록시 문자로 알림 <br>
						우측 하단↘ 문자 전송 위젯 제공<br>
						고객과 유기적으로 커뮤니케이션을 할 수 있는 사이트 운영 가능
					</div>
				</div><!--
				--><div class='image-text-deck image-text-deck-feature box-sizing-fallback inline-block-fallback'>
					<div class='image-container image-container-small' id='feature-image-third'></div>
					<div class='image-text-deck-title'>실시간 대화</div>
					<div class='image-text-deck-text'>
						웹 사이트 방문 고객의 문의를 실시간으로 해결<br>
						컴퓨터에 계속 접속해 있는 환경에서 활용 방안이 높은 서비스
					</div>
				</div><!--
				--><div class='image-text-deck image-text-deck-feature box-sizing-fallback inline-block-fallback'>
					<div class='image-container image-container-small'  id='feature-image-fourth'></div>
					<div class='image-text-deck-title'>방문객 통계 분석</div>
					<div class='image-text-deck-text'>
						실시간 방문객수, 누적 방문객 수, 키워드 분석, 유입 경로 등 사이트 운영시 필수 요소인 방문객 분석 서비스 자체 제공.
					</div>
				</div><!--
				--><div class='image-text-deck image-text-deck-feature box-sizing-fallback inline-block-fallback'>
					<div class='image-container image-container-small' id='feature-image-eighth'></div>
					<div class='image-text-deck-title'>무한 사용 공간</div>
					<div class='image-text-deck-text'>
						원하는 만큼 게시판 및 페이지 생성 가능, 제한없는 저장공간 사용 보장
					</div>
				</div><!--
				--><!--<div class='image-text-deck image-text-deck-feature box-sizing-fallback inline-block-fallback'>
					<div class='image-container image-container-small'  id='feature-image-sixth'></div>
					<div class='image-text-deck-title'>기술 지원</div>
					<div class='image-text-deck-text'>
						기술적 문제, 유지 보수 지원. 지속적인  업데이트로 새로운 기능 제공<br>
						사이트 운영시 고민스러운 사후 관리 완벽 지원 <br>
					</div>
				</div>
                -->
			</div>
			<div class='content-button-wrapper not-support-low-ie'>
				<button class='btn' onclick="location.href='http://kordir.com/trial/?reqtype=dashboard';">관리자 모드 체험하기</button>
			</div>
			<!--
			<div class='content-button-wrapper'>
				<button class='btn' onclick="location.href='http://support.kordir.com/features';">기능 더 알아보기</button>
			</div>
			 -->
		</div>
	</div>
	<div class='content-wrapper wrapper box-sizing-fallback' style="display:none;">
		<div class='col-half col-half-image box-sizing-fallback inline-block-fallback'>
			<img src='https://kordir.s3.amazonaws.com/images/landing/siteparallelogram_small.png'>
		</div><!--
		  --><div class='col-half col-half-text box-sizing-fallback inline-block-fallback inline-block-fallback'>
		  	<h1>영업용 홈페이지는<br>
		  		<span>KORDI</span><span class='orange-highlight'>R</span>
		  	</h1>
		  	<h3>다양한 분야의 영업용 홈페이지, 코디알을 통해 제작, 운영, 관리할 수 있습니다</h3>
		</div>
		<div class='content-button-wrapper'>
			<button class='btn' onclick="location.href='http://support.kordir.com/sample';">샘플 사이트 리스트</button>
		</div>
	</div>
</div>
<div id='video-masking'>
	<div class='video-wrapper' id='video-wrapper'>
		<iframe id='youtube-video' width="640" height="360" src="//www.youtube.com/embed/RBG_17G3gMw?enablejsapi=1&version=3&playerapiid=ytplayer" frameborder="0" allowfullscreen></iframe>
	</div>
</div>
{% include "common/footer.html" %}
{% include "service/common/servicefeedbackplugin.html" %}
<!--[if lte IE 7]>
<script type='text/javascript' src='/resources/js/boxsizingfix.js'></script>
<![endif]-->
<script>
var serverData = {
	page: '{{page}}',
	msg: '{{msg}}'
};
$(function(){
	if(serverData.msg == 'forceout'){
		draw_general_popup(
				null,
				null,
				null,
				stringTable.duplicateLogin,
				stringTable.ok,
				null
		);
	}
	$(window).bind('hashchange', function(){
		var hash = location.hash;
		hash = hash.replace(/#/gi, '');
		if(hash.length == 0)
			return;
		try{
			$("html, body").animate({ scrollTop: $("#nav-" + hash).offset().top }, 1000, function(){
				location.hash = hash + '#';
			});
		}catch(err){}
	});
	var hash = location.hash;
	hash = hash.replace('#', '');
	if(hash.length != 0){
		$(window).trigger('hashchange');
	}

	var tag = document.createElement('script');
	tag.src = "//www.youtube.com/player_api";
	var firstScriptTag = document.getElementsByTagName('script')[0];
	firstScriptTag.parentNode.insertBefore(tag, firstScriptTag);

	$(".youtube-play-button").bind('click', function(){
		$("#video-masking").fadeIn(150);
	});
	$("#video-masking").bind('click', function(){
		$(this).fadeOut('150', function(){
			$('#youtube-video')[0].contentWindow.postMessage('{"event":"command","func":"' + 'stopVideo' + '","args":""}', '*');
		});
	});
});
</script>
</body>
</html>