div#content{
	position:reltaive;
	width:100%;
	height:auto;
}
#content-inner{
	position:reltaive;
	width:960px;
	height:auto;
	margin-left:auto;
	margin-right:auto;
}
#content-inner .board-top{
	position:relative;
	height:60px;
	width:100%;
	text-align:left;
	background-color:#fafafa;
	background:rgba(250,250,250, 0.7);
}
.board-top .board-title{
	height:60px;
	line-height:60px;
	color:#6d6d6d;
	font-size:18px;
	font-weight:bold;
	margin-left:20px;	
}
.board-top .compose-button{
	width:100px;
	height:36px;
	position:absolute;
	top:12px;
	right:10px;
}
.board-center{
	min-height:413px;
	background-color:#fafafa;
	background:rgba(250,250,250, 0.7);
}
.board-center .table-header{
	position:relative;
	border-top:2px solid #ccccbc;
	border-bottom:1px solid #ccccbc;
	text-align:left;
	height:40px;
	line-height:40px;
	background-color:#efefef;
	width:100%;
	-webkit-box-sizing: border-box;
   	-moz-box-sizing: border-box;
   	box-sizing: border-box;	
   	padding-left:80px;
   	padding-right:280px;
}
.table-header div{
	text-align:center;
}
.table-header .table-seq{
	position:absolute;
	top:0;
	left:0;
	width:80px;
}
.table-header .table-subject{
	width:100%;
}
.table-header .table-date{
	position:absolute;
	top:0;
	right:80px;
	width:100px;
}
.table-header .table-name{
	position:absolute;
	top:0;
	right:180px;
	width:100px;
}
.table-header .table-view-cnt{
	position:absolute;
	top:0;
	right:0px;
	width:80px;
}
.board-center .table-body {
	width:100%;
}
.table-body .item-empty{
	height:320px;
	line-height:320px;
	font-size:12px;
	color:#4d4d4d;
}
.board-center .table-body .item-wrapper{
	position:relative;
	text-align:left;
	height:36px;
	line-height:36px;
	border-bottom:1px solid #ddd;
	font-size:12px;
	width:100%;
	-webkit-box-sizing: border-box;
   	-moz-box-sizing: border-box;
   	box-sizing: border-box;	
   	padding-left:100px;
   	padding-right:300px;
   	overflow:hidden;
}
.board-center .table-body .item-wrapper:nth-child(even){
	background-color:#f7f7f7;
}
.board-center .table-body .item-wrapper:hover{
	cursor:pointer;
	background-color:#e6e6e6;
}
.item-wrapper div{
	display:inline-block;
	float:left;
}
.item-wrapper .item-seq{
	position:absolute;
	left:0;
	width:80px;
	text-align:center;
}
.item-wrapper .item-subject{
	position:relative;
	width:100%;
	font-size:14px;
}
.item-wrapper .item-date{
	position:absolute;
	right:80px;
	top:0;
	width:100px;
	text-align:center;
}
.item-wrapper .item-name{
	position:absolute;
	right:180px;
	top:0;
	width:100px;
	text-align:center;
}
.item-wrapper .item-view-cnt{
	position:absolute;
	right:0;
	top:0;
	width:80px;
	text-align:center;
}
.item-wrapper .tag{
	display:none;
}
.item-answer span{
	padding:4px;
	color:#fff;
	font-weight:bold;
	font-size:10px;
	border-radius:4px;
}
.table-body .item-empty{
	height:380px;
	line-height:380px;
	text-align:center;
	font-size:14px;
}
.board-bottom{
	width:100%;
	display:block;
	height:74px;
	line-height:74px;
	border-top:1px solid #ccc;
	margin-top:20px;
	text-align:center;
	background-color:#fafafa;
	background:rgba(250,250,250, 0.7);
}
.board-bottom .paging-nav{
	display:inline-block;
	font-size:14px;
	padding-left:4px;
	padding-right:4px;
	height:30px;
	width:30px;
	line-height:30px;
	text-align:center;
	margin-left:4px;
	margin-right:4px;
}
.board-bottom .paging-nav.current-page{	
	background-color:#789;
	color:#fff;
}
.board-bottom .paging-nav.disabled{
	background-color:#dedede;
	color:#aaa;
}
.board-compose-wrapper{
	display:none;
	margin-top:20px;
	margin-bottom:20px;
	width:100%;
	text-align:left;
	-webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
   	box-sizing: border-box;	
   	padding-left:10px;
   	padding-right:10px; 
   	background-color:#fafafa;
	background:rgba(250,250,250, 0.7);
}
.board-compose-wrapper .input-line .tag{
	position:relative;
	display:inline-block;
	font-size:16px;
	width:110px;
	color:#4d4d4d;
	font-weight:bold;
	float:left;
}
.board-compose-wrapper .input-line .tag .small{
	font-size:10px;
	color:#ff6600;
	position:absolute;
	top:22px;
	left:0;
	width:100px;
}
.board-compose-wrapper .input-line input{
	width:160px;
	padding-left:5px;
	padding-right:5px;
	line-height:30px;
	border:1px solid #ccccbc;
	height:30px;
	font-size:14px;
	border-radius:5px;
    margin-bottom:10px;
}
.board-compose-wrapper .input-line .subject-input{
	width:560px;
}
.board-compose-wrapper .input-line div #captcha-image{
	float:left;
	margin-right:6px;
}
.board-compose-wrapper .button-wrapper{
	width:100%;
	height:50px;
	margin-top:10px;
}
.mce-content-body img{
	max-width:80%;
}
.board-compose-wrapper .button-wrapper button{
	float:right;
	margin-left:10px;
	height:40px;
	width:80px;
}
.board-compose-wrapper .compose-error-message{
	width:100%;
	height:30px;
	line-height:30px;
	text-align:center;
	font-size:14px;
	color:red;
	background-color:#fff;
}
@media all and (max-width:480px){
	#content-inner{
		width:100%;
		min-width:100%;
		overflow-x:hidden;
	}
	.board-wrapper{
		height:auto;
		width:100%;
		padding:0;
	}
	.board-center .table-header{
		display:none;
	}
	.board-center .table-body .item-wrapper{
		display:block;
		height:80px;
		line-height:0;
		padding:10px;
		background-color:#efefea;
		min-width:0;
	}
	.board-center .table-body .item-wrapper:first-child{
		border-top:1px solid #ddd;
	}
	.board-center .table-body .item-wrapper:hover{
		cursor:pointer;
		background-color:#e6e6e6;
	}
	.item-wrapper .item-subject{
		width:100%;
		height:auto;
		display:block;
		margin:0;
    	line-height:18px;
		top:6px;
	}
	.item-wrapper .item-name{
		width:auto;
		height:auto;
		top:64px;
		left:10px;
		text-align:left;
	}
	.item-wrapper .item-date{
		float:right;
		width:auto;
		text-align:right;
		right:10px;
		top:64px;
	}
	.item-wrapper .item-date{
		color:#aaa;
	}
	.item-wrapper .tag{
		color:#789;
		display:inline-block;
		margin-right:4px;
	}
	.item-wrapper .item-seq{
		display:none;
	}
	.item-wrapper .item-view-cnt{
		display:none;
	}
	.board-bottom .paging-nav{
		font-size:12px;
		padding:0;
		width:30px;
		margin-left:2px;
		margin-right:2px;
	}
	#length-aid{
		display:none;
	}
	.board-compose-wrapper{
		padding:10px;
	}
	.board-compose-wrapper .input-line .tag{
		width:100%;
		display:block;
	}
	.board-compose-wrapper .input-line .tag .small{
		position:relative;
		top:0;
		left:0;	
		margin-left:10px;
	}
	.board-compose-wrapper .input-line .subject-input{
		width:100%;
	}
}