body{
	background-color:#fff;
}
.indent{
	-webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;	
	padding-left:10px;
	padding-right:10px;
}
#content{
	padding-top:68px;
}
a.nostyle-anchor:link{text-decoration:none;color:inherit;}
a.nostyle-anchor:active{text-decoration:none;color:inherit;}
a.nostyle-anchor:visited{text-decoration:none;color:inherit;}
a.nostyle-anchor:hover{text-decoration:none;color:inherit;}

@media all and (max-width:480px){
	#content{
		padding-top:48px;
	}	
}