<!doctype html>
{% load customtags %}
{% load tz %}
<!--[if lt IE 7 ]> <html class="ie6"> <![endif]-->
<!--[if IE 7 ]>    <html class="ie7"> <![endif]-->
<!--[if IE 8 ]>    <html class="ie8"> <![endif]-->
<!--[if IE 9 ]>    <html class="ie9"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!--> <html class=""> <!--<![endif]-->
<head>
{% include "service/common/servicemeta.html" %}
<link rel='stylesheet' type='text/css' media='screen' href='https://asset.kordir.com/resources/service/css/normalboarditem.css?version=1.0'/>
</head>
<body>
{% include "service/common/processor.html" %}
{% include "service/common/serviceheader.html" %}
{% include "service/common/servicenavigationbox.html" %}
<div id='content'>
<div id='content-inner'>
	<div class='clearfix' style='height:1px;'>&nbsp;</div>
	<div class='box'>
		<div class='box-control indent'>
		{% if user_info.service.id == service.id %}
			<button class='box-control-button btn' id='delete-button' onclick='delete_item();'>삭제</button>
		{% else %}
			{% if not boarditem.user and boarditem.password != "" %}
			<button class='box-control-button btn' id='delete-button' onclick='delete_item_sub();'>삭제</button>
			{% endif %}
		{% endif %}
			<button class='box-control-button btn' id='previous-button' onclick="window.location.href='{{tag}}';">목록으로</button>
		</div>
		<div class='box-info indent'>
			<div class='subject'>{{boarditem.subject}}</div>
			<div class='name info-item inline-block-fallback'>작성자: {{boarditem.name}}</div>
			<div class='view-cnt info-item inline-block-fallback'>조회수: {{boarditem.view_num}}</div>
			{% timezone "Asia/Seoul" %}
			<div class='date info-item inline-block-fallback'>등록일: {{boarditem.created|localtime|date:'Y-m-d H:i:s'}}</div>
			{% endtimezone %}
			{% if boarditem.file|length != 0 %}
			<div class='attachment info-item inline-block-fallback'>첨부파일: <a href='{{"BOARD_ATTACHMENT"|get_filelocation}}{{service.id}}{{tag}}/{{boarditem.file}}' target='_blank'>다운로드</a></div>
			{% endif %}
		</div>
		<div class='box-content'>
			{% autoescape off %}
			{{boarditem.body}}
			{% endautoescape %}
		</div>
		<!--
		<div class='box-content-shadow-bottom'></div>
		 -->
	</div>
	<div id='comment' data-boardtype='{{board_type}}' data-tag='{{tag}}' data-seq='{{seq}}'>
		{% include "service/common/servicecomment.html" %}
	</div>
</div>
</div>
{% include "service/common/servicefeedbackplugin.html" %}
{% include "service/common/servicefooter.html" %}
</body>
<!--[if lte IE 7]>
<script type='text/javascript' src='/resources/js/boxsizingfix.js'></script>
<![endif]-->
<script>
var serverData = {
	seq: '{{seq}}',
	serviceId: '{{service.id}}',
	userId: '{{user_info.id}}',
	tag: '{{tag}}',
	boardType: {{board_type}}
};
$(function(){
	$("iframe").each(function(){
		var w = $(this).width();
		var h = $(this).height();
		var allowance = (window.innerWidth > 0) ? window.innerWidth : screen.width;
		allowance -= 36;

		if(w > allowance){
			h = allowance * h / w;
			w = allowance;
			$(this).css({
				'width': w + 'px',
				'height': h + 'px'
			});
		}
	});
});

</script>
{% include "service/common/servicenodejs.html" %}
<script src='https://asset.kordir.com/resources/service/js/normalboarditem.js'></script>
{% include "service/common/ga.html" %}
</html>