<!doctype html>
{% load customtags %}
{% load tz %}
<!--[if lt IE 7 ]> <html class="ie6"> <![endif]-->
<!--[if IE 7 ]>    <html class="ie7"> <![endif]-->
<!--[if IE 8 ]>    <html class="ie8"> <![endif]-->
<!--[if IE 9 ]>    <html class="ie9"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!--><html class=""><!--<![endif]-->
<head>
{% include "service/common/servicemeta.html" %}
<!-- COMPONENT -->
<link rel='stylesheet' type='text/css' media='screen' href='https://asset.kordir.com/resources/service/css/component.css?version=1.1' />
<link rel='stylesheet' type='text/css' media='screen' href='https://asset.kordir.com/resources/service/css/page.css?version=1.4' />
<!--[if IE 9]>
<link rel='stylesheet' type='text/css' media='screen' href='https://asset.kordir.com/resources/service/css/ie9.css' />
<script src='https://asset.kordir.com/resources/service/js/lowiefix.js'></script>
<![endif]-->
<!--[if lte IE 8]>
<link rel='stylesheet' type='text/css' media='screen' href='https://asset.kordir.com/resources/service/css/ie8.css' />
<![endif]-->
<!--[if lte IE 7]>
<script type='text/javascript' src='https://asset.kordir.com/resources/js/boxsizingfix.js'></script>
<![endif]-->
</head>
<body>
{% include "service/common/processor.html" %}
{% include "service/common/serviceheader.html" %}
{% if mode == "html" %}
	{% autoescape off %}
	<div id='content' class='content'>
	<div class='custom-html'>
	{{html|replace_string:"kordir-data.s3.amazonaws.com,cdn.kordir.com"}}
	</div>
	</div>
	{% endautoescape %}
{% elif mode == "editor" %}
	{% include "service/common/servicenavigationbox.html" %}
	<div id='content' class='content'>
		{% autoescape off %}
        {{body|replace_string:"kordir-data.s3.amazonaws.com,cdn.kordir.com"}}
		{% endautoescape %}
		{% include "service/common/serviceboardlist.html" %}
	</div>
{% endif %}
{% include "service/common/serviceslide.html" %}
{% include "service/common/servicephotoswipe.html" %}
{% include "service/common/servicefeedbackplugin.html" %}
{% include "service/common/servicefooter.html" %}
</body>
<!-- Back stretch -->
<script type='text/javascript' src='https://asset.kordir.com/resources/plugins/backstretch/jquery.backstretch.min.js'></script>
<!--  Lazy loading -->
<script type='text/javascript' src='https://asset.kordir.com/resources/plugins/lazyloading/jquery.lazyload.min.js'></script>
{% include "service/common/servicenodejs.html" %}
<!-- Google Map API -->
<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key={% settings_value "GOOGLE_API_KEY" %}"></script>
<!-- Photoswipe plugin -->
<script src="https://asset.kordir.com/resources/plugins/photoswipe/dist/photoswipe-ui-default.min.js"></script>
<link rel='stylesheet' type='text/css' media='screen' href='http://asset.kordir.com/resources/plugins/photoswipe/3.0.5/photoswipe.css'>
<script type='text/javascript' src='https://asset.kordir.com/resources/plugins/photoswipe/3.0.5/lib/klass.min.js'></script>
<script type='text/javascript' src='https://asset.kordir.com/resources/plugins/photoswipe/3.0.5/code.photoswipe.jquery-3.0.5.js'></script>
<link rel="stylesheet" href="https://asset.kordir.com/resources/plugins/photoswipe/dist/photoswipe.css">
<link rel="stylesheet" href="https://asset.kordir.com/resources/plugins/photoswipe/dist/default-skin/default-skin.css">
<script src="https://asset.kordir.com/resources/plugins/photoswipe/dist/photoswipe.min.js"></script>
<script>var variable={slideIdx:0,slideObject:[],pictureSlideObject:[],resizeFunc:[],fileSuffix:'{{"PAGE_PICTURE"|get_filelocation}}',serviceId:'{{service.id}}',mobileWidth:false};</script>
<script src='https://asset.kordir.com/resources/service/js/servicepage.js?version=1.4'></script>
{% include "service/common/ga.html" %}
</html>
