<html>
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge" >
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <meta charset="UTF-8">
    <meta name="robots" content="all, index, follow" />
    <meta content='코디알, KORDIR, Kordir, 홈페이지 , 웹사이트, 빌더, 솔루션, 무료 제작' name='keyword'>
    <meta content='비지니스를 운영하시는 분들에게 고객과의 접점을 만들어 주는 서비스를 제공합니다.' name='description'>
    <title>KORDIR Under Maintanence</title>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
    <link rel='stylesheet' type='text/css' media='screen' href='/resources/css/common.css?version=1.0' />
    <link rel='stylesheet' type='text/css' media='screen' href='/resources/css/footer.css?version=1.0' />
    <link rel='stylesheet' type='text/css' media='screen' href='/resources/css/header.css?version=1.0' />
    <!--[if lte IE 7]>
<link rel='stylesheet' type='text/css' media='screen' href='/resources/css/common_lowie.css'/>
<![endif]-->
    <style>
        #header-wrapper, #footer-wrapper{
            position:absolute !important;
        }
        #footer-wrapper{
            bottom:0;
        }
        #content{
            height:100%;
            min-height:0 !important;
        }
    </style>
</head>
<body>
<div id='header-wrapper'>
    <div id='header'>
        <div id='header-company-name' class='header-company-name header-company-name-normal'>
            <a href='/'><i class='wide-logo'></i></a>
        </div>
    </div>
</div>
<div id='content' style='display:table; width:100%;'>
    <div style='display:table-cell; vertical-align:middle; width:100%; text-align:center;'>
        <div id='heading' class='black-font' style='font-size:22px;'>요청하신 페이지가 존재하지 않습니다.</div>
    </div>
</div>
<div id='footer-wrapper' class='black-font' style='background-color:#555'>
    <div id='footer'><span style='color:#efefef; font-size:12px;'>Copyrights © 2015 - 2017, KORDIR. All rights reserved.</span></div>
</div>
</body>
</html>