<script>
var stringTable = {
	{% if page == 'dashboard' %}
	fillInfoNotDone: "가입 신청이 완료되지 않았습니다.",
	goToFillInfo: '가입 신청 페이지로 이동하겠습니까?',
	noConcurrentUser: '활성 사용자가 존재하지 않습니다.',
	chatRequestToUser: '에게 대화요청을 하시겠습니까?',
	waitChatRequest: '응답을 기다리고 있습니다',
	chatRequestRejected: '님이 대화요청을 거절하였습니다.',
	returningUser: '재 방문 사용자',
	newUser: '신규 방문 사용자',
	mobile: '모바일',
	desktop: '데스크탑',
	tablet: '타블릿',
	visitorOnline: '온라인',
	visitorOffline: '오프라인',
	visitor:'손님',
	askPageEscape: "컨텐츠 작성 페이지에서 벗어나시겠습니까? <br><br><span style='color:red;'>주의: 작성하신 내용은 저장되지 않습니다.</span>",
	counterpartIn: '대화 상대방이 다시 들어왔습니다',
	counterpartOut: '대화 상대방이 접속 종료를 하였습니다',
	sessionOut: '유효한 세션이 아닙니다.<br><br>다시 로그인 후 사용해주세요.',
	notExistPage: '존재하지 않는 페이지 입니다.',
	askPostMessage: "입력하신 내용을 등록하겠습니까?",
	askDelete: "삭제하시겠습니까?<br><br><span style='color:red;'>주의: 삭제된 건은 복구되지 않습니다.</span>",
	deleteLink: "선택한 노드를 삭제하시겠습니까?<br><br><span style='color:red;'>주의: 부모노드삭제시 하위노드 전부 삭제됩니다.</span>",
	notSelected: "항목이 선택되지 않았습니다.",
	uploadPicture: '사진 올리기',
	deletePicture: '선택한 사진을 삭제하시겠습니까?',
	nameNotProvided: '이름을 입력해 주세요.',
	subjectNotProvided: '제목을 4글자 이상 입력해 주세요.',
	bodyNotProvided: '내용을 입력해 주세요.',
	customInputNotProvided: '추가 항목에 내용을 입력해 주세요.',
	editSuccess: '정상적으로 수정되었습니다.',
	saveSuccess: '정상적으로 저장되었습니다.',
	registerSuccess: '정상적으로 등록되었습니다.',
	template: '템플릿',
	templateCar: '자동차 옵션',
	component: '컴포넌트',
	componentMap: '지도',
	componentBox: '박스',
	componentSlideShow: '슬라이드 쇼',
	componentSlideDocument: '슬라이드 (PPT, PDF)',
	preview: '미리보기',
	htmlFile: 'HTML 파일',
	editor: '수동 에디터',
	writable: '쓰기 허용',
	notWritable: '쓰기 허용 안함',
	hide: '감추기',
	show: '보이기',
	askSave: '저장하시겠습니까?',
	productBoard: '상품 게시판',
	askBoard: '문의 게시판',
	normalBoard: '일반 게시판',
	slideProcessing: "슬라이드 파일을 그림 파일로 변환중 입니다.<br>처리 시간은 약 1-3분 내외 입니다.<br>잠시만 기다려 주세요...<br><br><img src='/resources/images/progress_circle.gif' style='display:block; margin-left:auto; margin-right:auto; width:32px; height:32px;'>",
	pageFileUploadDone: '정상적으로 처리되었습니다.<br>반드시 저장을 하셔야 페이지에 반영이 됩니다.',
	slideDone: '슬라이드 파일 변환 작업이 완료되었습니다.',
	slideFailed: '죄송합니다.<br>슬라이드 파일 변환 중 에러가 발생하였습니다.',
	fileUploadProgress: '파일 업로드 중 입니다...',
	fileUploadDone: '파일 업로드가 완료 됐습니다.',
	{% endif %}
	{% if page == 'signup' %}
	emailNotMatch: "이메일과 이메일 확인 값이 같지 않습니다.",
	fullnameLength: "이름은 2글자 이상으로 입력 해 주세요.",
	passwordLength: "비밀번호는 4글자 이상 16글자 이하로 설정 해 주세요.",
	passwordNotMatch: "비밀번호와 비밀번호 확인 값이 같지 않습니다.",
	emailExist: "같은 이메일을 사용하는 유저가 있습니다.",
	signupSuccess: "가입신청이 완료되었습니다.",
	{% endif %}
	{% if page == 'fillinfo' or page == 'settings' or page == 'addservice' %}
	fullnameLength: "이름은 2글자 이상으로 입력 해 주세요.",
	serviceNameLength: "서비스 이름은 2글자 이상으로 입력해주세요.",
	serviceTagLength: "서비스 태그명은 2글자 이상으로 입력해주세요.",
	serviceTagExist: "동일한 서비스 주소명이 존재합니다.",
	serviceCategoryEmpty: "서비스 분류를 선택 해 주세요",
	serviceLocationEmpty: "서비스 지역을 선택 해 주세요.",
	fillinfoDone: '상세 정보 입력이 완료되었습니다.',
	mobileAuth: '핸드폰 인증',
	mobileAuthMessage: " 번호로 인증번호를 보냈습니다.<br><span id='auth-remaining' style='color:green'>180</span>초 남음 <br><span id='auth-failed' style='display:none; color:red;'>인증실패: 입력한 번호를 다시한번 확인해주세요.</span>",
	mobileAuthTimeout: '인증가능 시간이 만료되었습니다.<br>다시 시도해 주세요',
	mobileAuthInvalidNumber: '인증번호 전송에 실패했습니다.<br>번호를 다시한번 확인 해주세요',
	mobileAuthDone: '인증성공',
	mobileAuthNotDone: '핸드폰 인증이 완료되지 않았습니다.',
	use: '사용',
	noUse: '사용안함',
	{% endif %}
	{% if page == 'settings' %}
	changeSettingsDone: "설정 내용 변경이 적용되었습니다.",
	emailChanged: "변경된 이메일로 인증 요청 메일을 전송하였습니다.",
	emailExist: "같은 이메일을 사용하는 유저가 있습니다.",
	passwordLength: "비밀번호는 4글자 이상 16글자 이하로 설정 해 주세요.",
	passwordNotMatch: "비밀번호와 비밀번호 확인 값이 같지 않습니다.",
	extendUse: '사용기간 연장을 하시겠습니까?',
	pointSpentForExtending: '사용(기간연장)',
	{% endif %}
	{% if page == 'login' %}
	resetPassword: '비밀번호 찾기',
	resetPasswordMessage: '가입하신 이메일 주소를 입력해 주세요.' + '<br>' + '비밀번호를 초기화 할 수 있는 링크를 보내드립니다.',
	resetPasswordEmailSuccess: '비밀번호 초기화를 위한 이메일을 발송하였습니다.<br>발송된 이메일에 포함된 링크는 12시간 동안 유효합니다.<br>한번 페이지에 방문하면 링크는 사용 만료가 됩니다.',
	passwordLength: '비밀번호는 4글자 이상입니다.',
	loginFail: '없는 아이디거나 비밀번호가 맞지 않습니다.',
	notRegisteredEmail: '등록되지 않은 이메일 주소 입니다.',
	{% endif %}
	{% if page == 'passwordreset' %}
	passwordLength: "비밀번호는 4글자 이상 16글자 이하로 설정 해 주세요.",
	passwordNotMatch: "비밀번호와 비밀번호 확인 값이 같지 않습니다.",
	passwordResetSuccess: '정상적으로 비밀번호 변경이 완료되었습니다.',
	{% endif %}
	{% if page == 'index' %}
	duplicateLogin: '같은 계정으로 중복 접근이 발생하여 해당 세션은 로그아웃 처리되었습니다.',
	{% endif %}
	/* common */
	wrongPassword: '비밀번호가 맞지 않습니다.',
	invalidEmailFormat: "잘못된 이메일 형식입니다.",
	emailSendSuccess: '이메일 발송이 성공하였습니다.',
	internalError: "서버와의 통신이 실패하였습니다.",
	fillAllFields: "모든 필드의 입력을 완료 해 주세요",
	close: "닫기",
	ok: "확인",
	cancel: "취소",
	send: "보내기",
	yes: "예",
	no: "아니오",
	requestDone: '정상적으로 처리되었습니다.',
	requestError: '죄송합니다. 요청이 정상적으로 처리되지 않았습니다.',
	tryAgain: "다시 시도해 주세요",
	warningBeforeLeaving: "페이지 내에 완료되지 않은 작업이 있습니다.",
	wrongFileType: "올바르지 않은 파일 형식입니다.",
	fileSizeExceed: "허용된 파일 크기를 초과합니다.",
	logout: "로그아웃 하시겠습니까?",
	oldIENotSupported: "인터넷 익스플로러 8 미만은 지원하지 않습니다.",
	expired: '사용이 만료되었습니다.<br><br>포인트를 사용하셔서 사용기간을 연장시켜주시기 바랍니다.',
	buffer: ''
};
</script>