<table width="100%" border="0" cellspacing="0" cellpadding="0" bgcolor="#ffffff" style="background-color:#ffffff;">
<tbody>
	<tr>
		<td align='center' style="font-size:14px;color:#4d4d4d;font-family:NanumGothic, Helvetica, Verdana, Arialsans-serif;">
			<div style='max-width:558px; margin-top:0; margin-right:auto; margin-bottom:0; margin-left:auto; padding-top:0; padding-right:10px; padding-left:10px; padding-bottom:0;'>
				<table bgcolor="#E0E0D0" width="100%" border="0" cellspacing="0" cellpadding="0" align="center" style="max-width:558px; padding:0; margin:0; font-family:NanumGothic, Helvetica, Verdana, Arialsans-serif; font-size:13px; color:#4d4d4d; text-align:left;">
					<tr>
						<td valign="top" style="border-collapse:collapse;">
							<a href='http://kordir.com?tracktype={{tracktype}}&trackcode={{trackcode}}' target='_blank'><img src='https://kordir.s3.amazonaws.com/images/kordir_logo_horizontal.png' style='margin-left:14px; height:44px; width:auto;'></a>
						</td>
					</tr>
				</table>
				<table width="100%" border="0" cellspacing="0" cellpadding="0" align="center" style="max-width:558px; padding:0; margin:0; font-family:NanumGothic, Helvetica, Verdana, Arialsans-serif; font-size:14px; color:#4d4d4d; text-align:left">
					<tbody style='background-color:#efefea;'>
						<tr>
							<td width="20px"></td>
							<td>&nbsp;</td>
							<td width="20px"></td>
						</tr>
						<tr>
							<td width="20px"></td>
							<td>&nbsp;</td>
							<td width="20px"></td>
						</tr>
						<tr>
							<td width="20px"></td>
							<td>서비스 번호: {{service_id}}</td>
							<td width="20px"></td>
						</tr>
						<tr>
							<td width="20px"></td>
							<td>이름: {{fullname}}</td>
							<td width="20px"></td>
						</tr>
						<tr>
							<td width="20px"></td>
							<td style='color:#4d4d4d; text-decoration:none;'>이메일 주소: {{email}}</td>
							<td width="20px"></td>
						</tr>
						<tr>
							<td width="20px"></td>
							<td>금액: {{amount}}</td>
							<td width="20px"></td>
						</tr>
						<tr>
							<td width="20">&nbsp;</td>
							<td width="620"></td>
							<td width="20">&nbsp;</td>
						</tr>
						<tr>
							<td width="20px"></td>
							<td><hr></td>
							<td width="20px"></td>
						</tr>
						<tr>
							<td width="20">&nbsp;</td>
							<td width="620"></td>
							<td width="20">&nbsp;</td>
						</tr>
						<tr>
							<td width="20">&nbsp;</td>
							<td width="620"></td>
							<td width="20">&nbsp;</td>
						</tr>
						<tr>
							<td width="20">&nbsp;</td>
							<td width="620" style='text-align:center; font-weight:bold;'>- KORDIR Team 드림 -</td>
							<td width="20">&nbsp;</td>
						</tr>
						<tr>
							<td width="20px"></td>
							<td>&nbsp;</td>
							<td width="20px"></td>
						</tr>
						<tr>
							<td width="20px"></td>
							<td>&nbsp;</td>
							<td width="20px"></td>
						</tr>
					</tbody>
				</table>
				<table width="100%" border="0" cellspacing="0" cellpadding="0" align="center" style="max-width:558px; padding:0; margin:0; font-family:NanumGothic, Helvetica, Verdana, Arialsans-serif; font-size:13px; color:#4d4d4d; border-top:2px solid #fff; text-align:left">
				<tbody style='background-color:#4b4b4b; color:#efefef; font-size:11px;'>
					<tr>
						<td width="20px"> </td>
						<td>&nbsp;</td>
						<td width="20px"> </td>
					</tr>
					<tr>
						<td width="20px"> </td>
						<td>&nbsp;</td>
						<td width="20px"> </td>
					</tr>
					<tr>
						<td width="20px"></td>
						<td>주소: 경기도 수원시 영통구 이의동 869 광교테크노밸리 중소기업청 창업보육센터 지하 2층</td>
						<td width="20px"></td>
					</tr>
					<tr>
						<td width="20px"></td>
						<td>전화번호: 031-217-0107</td>
						<td width="20px"></td>
					</tr>
					<tr>
						<td width="20px"></td>
						<td>이메일:  <a href='mailto:hello@kordir.com' target='_top' style='text-decoration:none; color:#efefef;'>hello@kordir.com</a></td>
						<td width="20px"></td>
					</tr>
					<tr>
						<td width="20px"></td>
						<td>&nbsp;</td>
						<td width="20px"></td>
					</tr>
					<tr>
						<td width="20px"> </td>
						<td>&nbsp;</td>
						<td width="20px"> </td>
					</tr>
				</tbody>
				</table>
			</div>
		</td>
	</tr>
</tbody>
</table>